{% extends 'master.html' %}

{% block title %}Countries List{% endblock %}

{% block content %}
<h2>Countries List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country Code</th>
            <th>Group ID</th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        <tr>
            <td>{{ country.id }}</td>
            <td>{{ country.name }}</td>
            <td>{{ country.country_code }}</td>
            <td>{{ country.group_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

