{% extends 'master.html' %}

{% block title %}Countries List{% endblock %}

{% block content %}

<style>
    .table th, .table td {
        text-align: center;
        padding: 8px 15px; 
    }

    .table th:nth-child(3), .table td:nth-child(3) {
        padding-right: 25px; 
    }

    .table th:nth-child(2), .table td:nth-child(2) {
        padding-left: 15px; 
    }

    td {
    cursor: default;
    }

    .country-link {
        cursor: pointer;
        text-decoration: underline;
        color: #007bff;
        background-color: #f0f8ff;
        padding: 2px 5px;
        border-radius: 4px;
    }

    .country-link:hover {
        color: #0056b3;
        text-decoration: none;
        background-color: #cce5ff;
    }


    .pagination a {
        margin: 0 5px; 
    }
</style>

<br>

<h2>Countries List</h2>

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country Code</th>
            <th>Group ID</th>
        </tr>
    </thead>
    <tbody>
        {% for country in page_obj %}
        <tr>
            <td>{{ country.id }}</td>
            <td>
                <a href="{% url 'country_detail' country.id %}" class="country-link">{{ country.name }}</a>
            </td>            
            <td>{{ country.country_code }}</td>
            <td>{{ country.group_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>&nbsp;
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>&nbsp;
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>&nbsp;

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>&nbsp;
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

{% endblock %}
